<div class="menu-modal" id="menuModal">
  <button class="close-button" aria-label="Close menu" onclick="toggleMenu()">
    &#10005;
  </button>
  <nav>
    <ul class="menu-list">
      <li><a href="/menu">Menu</a></li>
      <li><a href="/merch">Merch</a></li>
      <li><a href="/locations">Locations</a></li>
      <li><a href="/catering">Catering</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <a href="#" class="order-button">ORDER NOW</a>
</div>
