<section class="how-it-works">
  <article class="section-header">
    <h2 class="heading">HOW IT WORKS</h2>
    <p class="subheading">
      Organize fundraisers in your community <br />
      Request a date for your organization. 5 minutes is all it takes!
    </p>
    <p></p>
  </article>
  <article class="steps-container">
    <div class="step">
      <img height="108px" src="/image/hiw-1.png" alt="Book a date" />
      <h3>BOOK A DATE</h3>
      <p>Request your fundraiser’s date, time, and location.</p>
    </div>
    <div class="step">
      <img height="108px" src="/image/hiw-2.png" alt="Spread the word" />
      <h3>SPREAD THE WORD</h3>
      <p>Get the word out and confirm your meal.</p>
    </div>
    <div class="step">
      <img height="108px" src="/image/hiw-3.png" alt="Eat & raise" />
      <h3>EAT & RAISE</h3>
      <p>Use your unique promo code on fundraising day.</p>
    </div>
    <div class="step">
      <img height="108px" src="/image/hiw-4.png" alt="Receive 50%" />
      <h3>RECEIVE 50%</h3>
      <p>Receive 50% of proceeds to your organization.</p>
    </div>
  </article>
  <div class="call-to-action">
    <a tabindex="0" href="#" class="btn">MAKE A DIFFERENCE</a>
  </div>
</section>
