<section class="fundraising-container">
  <div class="fundraising-header">
    <h2 class="heading">SCRATCH-COOKED FOR A CAUSE</h2>
    <p class="subheading">DIG's Restaurant Fundraising</p>
  </div>
  <div class="fundraising-stats">
    <div class="stat">
      <p class="value">50%</p>
      <p class="description">EVENT SALES GIVEN BACK TO YOUR ORGANIZATION</p>
    </div>
    <div class="stat">
      <p class="value">$8,600</p>
      <p class="description">RAISED TOGETHER</p>
    </div>
    <div class="stat">
      <p class="value">85</p>
      <p class="description">FUNDRAISES HOSTED</p>
    </div>
  </div>

  <article class="fundraising-info">
    <div class="cta-section">
      <h2 class="heading">VISIT YOUR LOCAL DIG TO ORDER DINE-IN OR DINE-OUT</h2>
      <p class="subheading">
        When checking out at the register, let the DIG team member know that
        you're here for the fundraiser and we'll make sure your meal gets
        tracked as a part of the event.
      </p>
      <a href="#" class="btn">MAKE A DIFFERENCE</a>
      <div class="fundraising-footer">
        <span>Click <a href="#">here</a> for all fundraising guidelines.</span>
      </div>
    </div>
    <div class="asset-section"></div>
  </article>
</section>
