
.fundraising-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $green;
  color: $white;
  height: 500px;

  @include upto(desktop) {
    flex-direction: column-reverse;
  }

  .banner-content {
    flex:1;
    padding: 102px 67px;
    text-align: center;

    @include upto(desktop) {
      padding: 1rem;
    }

    .heading {
      color: $white;
      margin-bottom: 0.5em;
      @extend %generic-fontsize-h1;
    }

    .subheading {
      @extend %generic-fontsize-p;
      margin-bottom: 1em;
    }

    .btn {
      @include btn-yellow();
    }
  }

  .banner-image  {
    background-image: url(/image/heroBanner.webp);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    flex: 2;
    height: 100%;

    @include upto(tablet) {
      background-image: url(/image/heroBanner-s.webp);
    }
  }
}
