<section class="fundraising-banner">
  <div class="banner-content">
    <h1 class="heading">FUNDRAISE WITH DIG</h1>
    <p class="subheading">We'll donate 50% of proceeds to your organization.</p>
    <a tabindex="0" href="URL-A-DONDE-QUIERAS-REDIRIGIR" class="btn btn-yellow"
      >MAKE A DIFFERENCE</a
    >
  </div>
  <div class="banner-image">.</div>
</section>
