<footer class="site-footer">
  <p>©2023 Dig Inn Restaurant <br /> Group LLC. All rights reserved.</p>
  <nav>
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/terms-of-use">Terms of Use</a>
  </nav>
</footer>
