
.header {
  align-items: center;
  background: $black;
  display: flex;
  font-family: 'Flama-Medium' !important;
  height: 103.5px;
  justify-content: space-between;
  padding: 6vw;
  width: 100%;

  &-logo {
    display: flex;
    img {
      width: auto;
      max-width: 100%;
      max-height: 32px;   
    }
  }

  &-menu {
    .desktop-only {
      display: flex;
      gap: 1.4vw;
      list-style: none;

      li> a {
        text-decoration: none;
        backface-visibility: hidden;
        padding: .1em 0;
        color: $white;
      }
    }
  }
}
