---

---

<header class="header">
  <div class="header-logo">
    <a class="logo-link" href="/" data-animation-role="header-element">
      <img
        src="//images.squarespace-cdn.com/content/v1/6377acee19258c4978a8a37b/0de4922f-63ae-43d1-b477-6bd3224e5348/DIG.+LOGO+WHITE.png?format=1500w"
        alt="DIG Logo"
        style="display:block"
        fetchpriority="high"
        loading="eager"
        decoding="async"
        data-loader="raw"
      />
    </a>
  </div>

  <nav id="menuDesktop" class="header-menu">
    <ul class="desktop-only">
      <li><a href="/menu">Menu</a></li>
      <li><a href="/mission">Mission</a></li>
      <li><a href="/locations">Locations</a></li>
      <li><a href="/catering">Catering</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/order">Order Now</a></li>
    </ul>
  </nav>
</header>
