<section class="locations-container">
  <div class="item-container">
    <div class="location-item">
      <img src="/image/galery-1.png" alt="DIG on Bleecker" />
      <p>DIG ON BLEECKER</p>
    </div>
    <div class="location-item">
      <img src="/image/galery-2.png" alt="DIG Georgetown" />
      <p>DIG GEORGETOWN</p>
    </div>
    <div class="location-item">
      <img src="/image/galery-3.png" alt="DIG Stamford" />
      <p>DIG STAMFORD</p>
    </div>
    <div class="location-item">
      <img src="/image/galery-4.png" alt="+28 other locations" />
    </div>
  </div>

  <article class="location-info">
    <div class="info-content">
      <h2>YOUR NEIGHBORHOOD. YOUR KITCHEN.</h2>
      <p>
        Every DIG is a part of its neighborhood. Each location is led by a local
        chef, serving fresh seasonal ingredients.
      </p>
      <a href="#" class="btn">FIND A DIG</a>
    </div>
  </article>
</section>
