@font-face {
  font-family: 'Flama-Basic';
  src: url('/fonts/Flama-Basic.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flama-Medium';
  src: url('/fonts/Flama-Medium.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FlamaSemicondensed-Semibold';
  src: url('/fonts/FlamaSemicondensed-Semibold.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

// Font sizes xl
$fontsize-mobile-xl: 30px;
$fontsize-tablet-xl: 50px;
$fontsize-desktop-xl: 82px;
$fontsize-desktop-xxl-xl: 82px;

$sizing-xl: (
  "mobile": $fontsize-mobile-xl,
  "tablet": $fontsize-tablet-xl,
  "desktop": $fontsize-desktop-xl,
  "desktop-xxl": $fontsize-desktop-xxl-xl,
);

%generic-fontsize-xl {
  @each $name, $value in $sizing-xl {
    @include from($name) {
      font-size: $value;
    }
  }
}

// Font sizes h1
$fontsize-mobile-h1: 30px;
$fontsize-tablet-h1: 50px;
$fontsize-desktop-h1: 60px;
$fontsize-desktop-xxl-h1: 60px;

$sizing-h1: (
  "mobile": $fontsize-mobile-h1,
  "tablet": $fontsize-tablet-h1,
  "desktop": $fontsize-desktop-h1,
  "desktop-xxl": $fontsize-desktop-xxl-h1,
);

%generic-fontsize-h1 {
  @each $name, $value in $sizing-h1 {
    @include from($name) {
      font-size: $value;
    }
  }
}

// Font sizes h2
$fontsize-mobile-h2: 25px;
$fontsize-tablet-h2: 30px;
$fontsize-desktop-h2: 40px;
$fontsize-desktop-xxl-h2: 40px;

$sizing-h2: (
  "mobile": $fontsize-mobile-h2,
  "tablet": $fontsize-tablet-h2,
  "desktop": $fontsize-desktop-h2,
  "desktop-xxl": $fontsize-desktop-xxl-h2,
);

%generic-fontsize-h2 {
  @each $name, $value in $sizing-h2 {
    @include from($name) {
      font-size: $value;
    }
  }
}

// Font sizes paragraph
$fontsize-mobile-p: 16px;
$fontsize-tablet-p: 18px;
$fontsize-desktop-p: 22px;
$fontsize-desktop-xxl-p: 22px;

$sizing-p: (
  "mobile": $fontsize-mobile-p,
  "tablet": $fontsize-tablet-p,
  "desktop": $fontsize-desktop-p,
  "desktop-xxl": $fontsize-desktop-xxl-p,
);

%generic-fontsize-p {
  @each $name, $value in $sizing-p {
    @include from($name) {
      font-size: $value;
    }
  }
}

// Font sizes cta
$fontsize-mobile-cta: 16px;
$fontsize-tablet-cta: 18px;
$fontsize-desktop-cta: 20px;
$fontsize-desktop-xxl-cta: 20px;

$sizing-cta: (
  "mobile": $fontsize-mobile-cta,
  "tablet": $fontsize-tablet-cta,
  "desktop": $fontsize-desktop-cta,
  "desktop-xxl": $fontsize-desktop-xxl-cta,
);

%generic-fontsize-cta {
  font-family: "FlamaSemicondensed-Semibold";
  @each $name, $value in $sizing-cta {
    @include from($name) {
      font-size: $value;
    }
  }
}